
 *{ border: 1px solid black; }
    

body{
   display: flex;
   flex-direction: column; 
   margin: 0;
   overflow: auto;
   height: 100vh;
}
ul{
    list-style: none;
    display: flex;
    color: white;  
}
button{
    display:block;
    background-color:  #2882f6;
    color:white;
}

.header-container{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  color: #e5e7eb;
  font-weight: bold;
}

.left-links{
    display:flex;
    justify-content: center;
}
.right-links{
    display: flex;
    margin-right: 250px;
    gap: 26px;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-between;
}
.container-left{
    display: flex;
    flex-direction:row;
    border:0px;
}

.container-right{
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    border: 0px;
}
.image-header{
    display: flex;
    font-size: 25px;
    font-weight: bolder;
    color: #F9FAF8;
    border: 0px;
    margin: 10px; 
}

.place-holder{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    height: 175px;
    width: 500px;
    padding: 16px;
    background-color: grey;
    border: 0px;
    flex-shrink: 1;
}

.subtext{
    display: flex;
    border: 0px;
    margin:10px;
    font-size: 18px;
}

.sign-up{
    display: flex;
    text-decoration: none;
    border:0px;

}
.button-1{
    border-radius: 12px;
    outline: none;
    font-size: 16px;
    padding: 8px 20px;
    margin-bottom: 175px;
    border: 0px;
}

.second-header{
    display: flex;
    justify-content: center;
    color: #1f2937;
    border: 0px;
}

.first-image{
    display: flex;
    color:black;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 75px;
    width: 1px;
    height: 1px;
    margin: 25px;
    

   
}

.second-image{
    display: flex;
    color:black;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 75px;
    width: 1px;
    height: 1px;
    margin: 25px;
   
}
.third-image{
    display: flex;
    color:black;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 75px;
    width: 1px;
    height: 1px;
    margin: 25px;
    
   
}
.fourth-image{
    display: flex;
    color:black;
    flex-direction: column;
    border-radius: 15px;
    border: 2px solid #73AD21;
    padding: 75px;
    width: 1px;
    height: 1px;
    margin: 25px;
    
}
.image-container{
    border: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center ;
    align-items: center;

}